<div class="bg-white shadow rounded-lg p-4 sm:p-6">
    <div class="flex items-center justify-between mb-4">
    <h3 class="text-xl leading-none font-bold text-gray-900">電話帳</h3>
      <%= link_to '新規追加', new_dashboard_clinic_customer_path(current_clinic), class: "bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded float-right text-sm" %>
    </div>
    <div class="block w-full overflow-x-auto">
      <table class="items-center w-full bg-transparent border-collapse">
        <% if @customers.empty? %>
          <p>登録されているデータがありません</p>
        <% else %>
          <thead>
            <tr>
                <th class="px-4 bg-gray-50 text-gray-700 align-middle py-3 text-xs font-semibold text-left uppercase border-l-0 border-r-0 whitespace-nowrap">名前</th>
                <th class="px-4 bg-gray-50 text-gray-700 align-middle py-3 text-xs font-semibold text-left uppercase border-l-0 border-r-0 whitespace-nowrap">電話番号</th>
                <th class="px-4 bg-gray-50 text-gray-700 align-middle py-3 text-xs font-semibold text-left uppercase border-l-0 border-r-0 whitespace-nowrap min-w-140-px">診察券番号</th>
                <th class="px-4 bg-gray-50 text-gray-700 align-middle py-3 text-xs font-semibold text-left uppercase border-l-0 border-r-0 whitespace-nowrap min-w-140-px">リスト</th>
                <th class="px-4 bg-gray-50 text-gray-700 align-middle py-3 text-xs font-semibold text-left uppercase border-l-0 border-r-0 whitespace-nowrap min-w-140-px"></th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-100">
              <% @customers.each do |customer| %>
              <tr class="text-gray-500">
                  <th class="border-t-0 px-4 align-middle text-sm font-normal whitespace-nowrap p-4 text-left"><%= customer.name %></th>
                  <td class="border-t-0 px-4 align-middle text-xs font-medium text-gray-900 whitespace-nowrap p-4"><%= customer.phone_number %></td>
                  <td class="border-t-0 px-4 align-middle text-xs font-medium text-gray-900 whitespace-nowrap p-4"><%= customer.patient_number %></td>
                  <td class="border-t-0 px-4 align-middle text-xs font-medium text-gray-900 whitespace-nowrap p-4">
                    <% if customer.list_type == 'is_white_list' %>
                      <span class="text-xs font-semibold inline-block py-2 px-2 uppercase rounded-full text-sky-600 bg-sky-200 last:mr-0 mr-1">ホワイトリスト</span>
                    <% elsif customer.list_type == 'is_black_list' %>
                      <span class="text-xs font-semibold inline-block py-2 px-2 uppercase rounded-full text-gray-600 bg-gray-200 last:mr-0 mr-1">ブラックリスト</span>
                    <% else %>
                      <p>未選択</p>
                    <% end %>

                  </td>
                  <td>



                  <%= link_to '編集', edit_dashboard_clinic_customer_path(current_clinic, customer), class: "bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded float-right text-sm" %>
                  </td>
              </tr>
              <% end %>
          </tbody>
        <% end %>
      </table>
    </div>
</div>
