<%= form_with(model: @clinic, url: { action: :update_schedule }, method: :put, local: true) do |f| %>
<%= f.hidden_field :clinic_id, value: @clinic.id %>

  <%= f.fields_for :schedules do |schedule_fields| %>
  <div class="field">
    <%= schedule_fields.label :day_of_week %>
    <%= schedule_fields.select :day_of_week, Schedule.day_of_weeks.keys %>
  </div>
  <div class="field">
    <%= schedule_fields.label :session %>
    <%= schedule_fields.select :session, Schedule.sessions.keys %>
  </div>
  <div class="field">
    <%= schedule_fields.label :start_time %>
    <%= schedule_fields.time_select :start_time, { minute_step: 15 } %>
  </div>
  <div class="field">
    <%= schedule_fields.label :end_time %>
    <%= schedule_fields.time_select :end_time, { minute_step: 15 } %>
  </div>

  

  <%= link_to 'Add Schedule', '#', id: 'add_schedule' %>
  <hr />
  <% end %>

  <%= f.submit "保存" %>
<% end %>
