<div class="w-full grid grid-cols-1 gap-4">
  <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8 ">
      <div class="flex justify-between items-center mb-5">
        <h3 class="text-xl leading-none font-bold text-gray-900">アカウント情報</h3>
        
        <%= link_to '編集', edit_user_registration_path, class: "bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded float-right text-sm" %>
      </div>

      <div class="block w-full overflow-x-auto">
        <table class="items-center w-full bg-transparent border-collapse">
            <thead>
              <tr>
                  <th class="px-4 bg-gray-50 text-gray-700 align-middle py-3 text-xs font-semibold text-left uppercase border-l-0 border-r-0 whitespace-nowrap">提供電話番号</th>
                  <th class="px-4 bg-gray-50 text-gray-700 align-middle py-3 text-xs font-semibold text-left uppercase border-l-0 border-r-0 whitespace-nowrap">ログインメールアドレス</th>
                  <th class="px-4 bg-gray-50 text-gray-700 align-middle py-3 text-xs font-semibold text-left uppercase border-l-0 border-r-0 whitespace-nowrap min-w-140-px">パスワード</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-100">
              <tr class="text-gray-500">
                  <th class="border-t-0 px-4 align-middle text-sm font-normal whitespace-nowrap p-4 text-left">050-4445-6667</th>
                  <td class="border-t-0 px-4 align-middle text-xs font-medium text-gray-900 whitespace-nowrap p-4">
                    <%= @user.email %>
                  </td>
                  <td class="border-t-0 px-4 align-middle text-xs font-medium text-gray-900 whitespace-nowrap p-4">
                    *********
                  </td>
            </tbody>
        </table>
      </div>
  </div>
  <div class="grid grid-cols-1 xl:grid-cols-2 xl:gap-4 my-4">
    <div class="bg-white shadow rounded-lg mb-4 p-4 sm:p-6 h-full">
        <div class="flex items-center justify-between mb-4">
          <h3 class="text-xl font-bold leading-none text-gray-900">基本情報</h3>
          <%= link_to '編集', edit_clinic_path(@clinic), class: "bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded float-right text-sm" %>
        </div>
        <div class="flow-root">
          <ul role="list" class="divide-y divide-gray-200">
            <% @clinics.each do |clinic| %>
              <li class="py-3 sm:py-4">
                <div class="flex items-center space-x-4">
                    <div class="flex-1 min-w-0">
                      <p class="text-sm text-gray-500 truncate">クリニック名</p>
                      <p class="text-sm font-medium text-gray-900 truncate">
                            <%= clinic.name %>
                      </p>
                    </div>
                </div>
              </li>
              <li class="py-3 sm:py-4">
                <div class="flex items-center space-x-4">
                    <div class="flex-1 min-w-0">
                      <p class="text-sm text-gray-500 truncate">クリニック電話番号（転送先）</p>
                      <p class="text-sm font-medium text-gray-900 truncate">
                        <%= clinic.tel %>
                      </p>
                    </div>
                </div>
              </li>
              <li class="py-3 sm:py-4">
                <div class="flex items-center space-x-4">
                    <div class="flex-1 min-w-0">
                      <p class="text-sm text-gray-500 truncate">クリニック所在地</p>
                      <p class="text-sm font-medium text-gray-900 truncate">
                        <%= clinic.address %>
                      </p>
                    </div>
                </div>
              </li>
              <li class="py-3 sm:py-4">
                <div class="flex items-center space-x-4">
                    <div class="flex-1 min-w-0">
                      <p class="text-sm text-gray-500 truncate">アクセス（任意）smsでアクセス案内が必要な場合</p>
                      <p class="text-sm font-medium text-gray-900 truncate">
                        <%= clinic.access %>
                      </p>
                    </div>
                </div>
              </li>
              <li class="py-3 sm:py-4">
                <div class="flex items-center space-x-4">
                    <div class="flex-1 min-w-0">
                      <p class="text-sm text-gray-500 truncate">休診日</p>
                      <p class="text-sm font-medium text-gray-900 truncate">
                        <%= clinic.holiday %>
                      </p>
                    </div>
                </div>
              </li>
              <li class="py-3 sm:py-4">
                <div class="flex items-center space-x-4">
                    <div class="flex-1 min-w-0">
                      <p class="text-sm text-gray-500 truncate">web予約URL</p>
                      <p class="text-sm font-medium text-gray-900 truncate">
                        <%= clinic.reserve %>
                      </p>
                    </div>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
    </div>
    <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8">
      <div class="flex items-center justify-between mb-4">
        <h3 class="text-xl leading-none font-bold text-gray-900">診療時間</h3>

        <%= link_to '追加', new_clinic_clinic_program_path(clinic_id: @clinic.id), class: "bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded float-right text-sm" %>    
      </div>


        <div class="block w-full overflow-x-auto">
          <table class="items-center w-full bg-transparent border-collapse">
              <thead>
                <tr>
                    <th class="px-4 bg-gray-50 text-gray-700 align-middle py-3 text-xs font-semibold text-left uppercase border-l-0 border-r-0 whitespace-nowrap">&nbsp;</th>
                    <th class="px-4 bg-gray-50 text-gray-700 align-middle py-3 text-xs font-semibold text-left uppercase border-l-0 border-r-0 whitespace-nowrap">月</th>
                    <th class="px-4 bg-gray-50 text-gray-700 align-middle py-3 text-xs font-semibold text-left uppercase border-l-0 border-r-0 whitespace-nowrap min-w-140-px">火</th>
                    <th class="px-4 bg-gray-50 text-gray-700 align-middle py-3 text-xs font-semibold text-left uppercase border-l-0 border-r-0 whitespace-nowrap min-w-140-px">水</th>
                    <th class="px-4 bg-gray-50 text-gray-700 align-middle py-3 text-xs font-semibold text-left uppercase border-l-0 border-r-0 whitespace-nowrap min-w-140-px">木</th>
                    <th class="px-4 bg-gray-50 text-gray-700 align-middle py-3 text-xs font-semibold text-left uppercase border-l-0 border-r-0 whitespace-nowrap min-w-140-px">金</th>
                    <th class="px-4 bg-gray-50 text-gray-700 align-middle py-3 text-xs font-semibold text-left uppercase border-l-0 border-r-0 whitespace-nowrap min-w-140-px">土</th>
                    <th class="px-4 bg-gray-50 text-gray-700 align-middle py-3 text-xs font-semibold text-left uppercase border-l-0 border-r-0 whitespace-nowrap min-w-140-px">日</th>
                    <th class="px-4 bg-gray-50 text-gray-700 align-middle py-3 text-xs font-semibold text-left uppercase border-l-0 border-r-0 whitespace-nowrap min-w-140-px">&nbsp;</th>
                </tr>
              </thead>
              <tbody class="divide-y divide-gray-100">
                <% @clinic_programs.each do |program| %>
                  <tr>
                    <td class="p-4 whitespace-nowrap text-xs font-normal text-gray-500">
                      <%= program.start_time.strftime('%H:%M') %>〜<%= program.end_time.strftime('%H:%M') %>
                    </td>
                    <% ClinicProgram.weekdays.keys.each_with_index do |day, index| %>
                      <td class="p-4 whitespace-nowrap text-xs font-normal text-gray-500">
                        <% if program.weekdays.to_i & (1 << index) != 0 %>
                          ◯
                        <% else %>
                          ×
                        <% end %>
                      </td>
                    <% end %>
                    <td>
                      <%= link_to '編集', clinic_programs_edit_path(program), class: "bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-2 my-2 border border-blue-500 hover:border-transparent rounded float-right text-xs" %>
                    </td>
                  </tr>
                <% end %>    
              </tbody>
          </table>
        </div>
    </div>
  </div>
</div>
